header{
	width: 100%;
	margin:0 auto;
	border-bottom: 2px solid #ccc;

}
.row{
	display: inline-block;
}
#logo{
	background: #4aaaa5;
	color: #fff;
	font-family: 'Georgia', Times, Times New Roman, serif;
  	font-size: 30px;
  	text-align: center;
}
nav a{
	display: inline-block;
	text-decoration: none;
	padding-top: 20px solid white;
	line-height: 18px;
  	color: #999;
  	border-left: 1px solid #efefef;
}
.mainsection{
	border:1px solid #ccc;
}
.sidebar{
	border:1px solid #ccc;
}
footer{
	width:100%;
	text-align: center;
	padding:20px;
	background-color: #666;
	border-top: 2px solid #4aaaa5;
	color:white;

}
